[reddit_character_ai_config]
bot_name=reddit_character_ai_config
bot_version=0.1.0
bot_author=YOUR_REDDIT_USERNAME_HERE
user_agent=script:%(bot_name)s:v%(bot_version)s (by u/%(bot_author)s)
# Reddit API credentials
# Get these from https://www.reddit.com/prefs/apps/
client_id=YOUR_CLIENT_ID_HERE
client_secret=YOUR_CLIENT_SECRET_HERE
